<a href="#form" onclick="addAnotherInput()">Add another form element</a>
<form id="{{name}}" name="{{name}}">
{{#each fields}}
	<p class="label">{{name}}</p>
	{{#if textarea}}
	<textarea name="{{name}}" id="{{name}}"
	{{#properties}}
		{{property}}="{{value}}" 
	{{/properties}}
	></textarea>
	{{else}}
	{{#if University}}
	<select name="{{name}}" id="{{name}}"
	{{#properties}}
		{{property}}="{{value}}" 
	{{/properties}}
	>
	{{#options}}
		<option value="{{value}}">{{text}}</option>
	{{/options}}</select>
	{{else}}
	<input type="{{type}}" name="{{name}}" id="{{name}}" 
	{{#properties}}
		{{property}}="{{value}} 
	{{/properties}}
	/>
	{{/if}}
	{{/if}}
{{/each}}
<br /><br />
<input type="submit" value="submit" onclick="submitform()" />
</form>