<h2>Programs</h2>
<table class="list">
  <thead>
    <tr>
    	<th>
    		Name
    	</th>
      <th>
        Description
      </th>
      <th style="cursor:pointer">
        Outcomes
      </th>
      <th>
      	Edit
      </th>
    </tr>
  </thead>
  <tbody>
    {{#Program}}
    <tr>
    	<td>{{name}}</td>
      <td>{{description}}</td>
      <td>{{mission}}</td>
      <td>{{doc}}</td>
      <td>{{start_date}}</td>
      <td>{{end_date}}</td>
      <td><a onclick="edit('{{id}}', 'edit_notmpl')" style="cursor:pointer">Edit</a>
    </tr>
    {{/Program}}
  </tbody>
</table>
<a onclick="addNew('program')" style="cursor:pointer">Add</a>
