<h2>Objectives</h2>
<table class="list">
  <thead>
    <tr>
    	<th>
    		Name
    	</th>
      <th>
        Description
      </th>
      <th>
      	Edit
      </th>
    </tr>
  </thead>
  <tbody>
    {{#Objective}}
    <tr>
   	  <td><a onclick="togglehidden('{{id}}')">{{index}}. {{name}}</a></td>
      <td>{{description}}</td>
      <td><a onclick="edit('{{id}}', 'edit_notmpl')" style="cursor:pointer">Edit</a>
    </tr>
    <tr class="noborder">
    <td class="outcome" colspan="2">
    <div id="{{id}}_outcomes" style="display:none" >
    {{#Batch}}
    <p style="margin:5px"><a>{{objective_index}}.{{index}}. {{name}}</a></p>
    {{/Batch}}
    </div></td></tr>
    {{/Objective}}
  </tbody>
</table>
<a onclick="addNew('program')" style="cursor:pointer">Add</a>
