<h2>Objectives</h2>
<table class="list">
  <thead>
    <tr>
    	<th>
    		Name
    	</th>
      <th>
        Description
      </th>
      <th>
      	Edit
      </th>
    </tr>
  </thead>
  <tbody>
    {{#Objective}}
    <tr>
    	<td>{{name}}</td>
      <td>{{description}}</td>
      <td><a onclick="edit('{{id}}', 'edit_notmpl')" style="cursor:pointer">Edit</a>
    </tr>
    {{#Batch}}
    <tr class="{{../id}}" style="display:none"><td class="outcome" colspan="2">{{name}}</td></tr>
    {{/Batch}}
    </span>
    {{/Objective}}
  </tbody>
</table>
<a onclick="addNew('program')" style="cursor:pointer">Add</a>
