<h2>Schedule Log</h2>
<table class="list">
  <thead>
    <tr>
    	<th>
    		Task
    	</th>
      <th>
        Sent To:
      </th>
      <th>
        email:
      </th>      
      <th>
        Message sent on:
      </th>
    </tr>
  </thead>
  <tbody>
    {{#ScheduleLog}}
    <tr>
    	<td><a onclick="view('{{task_human.id}}', 'task_view')">{{task_human.name}}</a></td>
      <td><a onclick="view('{{user_human.id}}', 'user_view')">{{user_human.full_name}}</td>
      <td>{{email}}</td>
      <td>{{timestamp}}</td>
    </tr>
    {{/ScheduleLog}}
  </tbody>
</table>
