<h2>{{Course Offering}}</h2>

<p class="label">Student count:</p>
<span>{{student_count}}</span>
<p class="label">Section:</p>
<span>{{section}}</span>
<p class="label">Final grades:</p>
<span>{{final_grades}}</span>
<p class="label">Tasks:</p>
<span>{{tasks}}</span>
<p class="label">Syllabus:</p>
<span>{{syllabus}}</span>
<p class="label">Website</p>
<span>{{website}}</span>
