{{#CourseOffering}}
      <div id="course offering">
        <div class="student count">{{sudent_count}}</div>
        <div class="section">{{section}}</div>
        <div class="final grade">{{final_grades}}</div>
        <div class="tasks">{{tasks}}</div>
        <div class="syllabus">{{syllabus}}</div>
        <div class="website">{{website}}</div>
      </div>
{{/CourseOffering}}}
