{{#user}}
      <div id="name">
        <div class="description">{{description}}</div>
        <div class="catalog description">{{catalog_descr}}</div>
        <div class="catalog">{{catalog}}</div>
        <div class="web page">{{webpage}}</div>
        <div class="core topics">{{core_topics}}</div>
      </div>
{{/user}}}
 