<h2>{{name}}</h2>

<p class="label">Description:</p>
<span>{{description}}</span>
<p class="label">Catalog description:</p>
<span>{{catalog_descr}}</span>
<p class="label">Catalog:</p>
<span>{{catalog}}</span>
<p class="label">Web page:</p>
<span>{{webpage}}</span>
<p class="label">Core topics:</p>
<span>{{core_topics}}</span>

 