<h2>{{University}}</h2>

<p class="label">University:</p>
<span>{{university}}</span>
<p class="label">Program:</p>
<span>{{program}}</span>
<p class="label">Owner:</p>
<span>{{users}}</span>

<p class="label">Name:</p>
<span>{{name}}</span>
<p class="label">Domain:</p>
<span>{{domain}}</span>
<p class="label">Semesters:</p>
<span>{{semesters}}</span>
<p class="label">Login path:</p>
<span>{{login_path}}</span>
<p class="label">Programs:</p>
<span>{{programs}}</span>
<p class="label">Thumbnail:</p>
<span>{{thumbnail}}</span>
<p class="label">Web page:</p>
<span>{{web_page}}</span>


<h2>{{Program}}</h2>
<p class="label">Start date:</p>
<span>{{start_date}}</span>
<p class="label">End date:</p>
<span>{{end_date}}</span>
<p class="label">Mission</p>
<span>{{mission}}</span>
<p class="label">Description:</p>
<span>{{description}}</span>
<p class="label">Web page:</p>
<span>{{web_page}}</span>
<p class="label">Thumbnail:</p>
<span>{{thumbnail}}</span>
<p class="label">Docs:</p>
<span>{{docs}}</span>

<h2>{{Owner}}</h2>
<p class="label">Full name:</p>
<span>{{full_name}}</span>
<p class="label">Display name:</p>
<span>{{display_name}}</span>
<p class="label">Email</p>
<span>{{email}}</span>
<p class="label">Employee ID:</p>
<span>{{employee_id}}</span>
<p class="label">Office phone:</p>
<span>{{phone_office}}</span>
<p class="label">Phone personal:</p>
<span>{{phone_personal}}</span>
<p class="label">Office:</p>
<span>{{office}}</span>
<p class="label">Join date:</p>
<span>{{join_date}}</span>
<p class="label">Depart date:</p>
<span>{{depart_date}}</span>
<p class="label">Thumbnail:</p>
<span>{{thumbnail}}</span>
<p class="label">Web page:</p>
<span>{{webpage}}</span>
<p class="label">Tasks:</p>
<span>{{tasks}}</span>
  
<h2>{{Minutes}}</h2>
<p class="label">Description:</p>
<span>{{description}}</span>
<p class="label">Program:</p>
<span>{{name}}</span>
<p class="label">Documents:</p>
<span>{{docs}}</span>
<p class="label">Date:</p>
<span>{{date}}</span>
<p class="label">Content:</p>
<span>{{content}}</span>

