<h2>{{Minutes}}</h2>

<p class="label">Description:</p>
<span>{{description}}</span>
<p class="label">Documents:</p>
<span>{{docs}}</span>
<p class="label">Date:</p>
<span>{{date}}</span>
<p class="label">Content:</p>
<span>{{content}}</span>
<p class="label">Attachment:</p>
<span>{{attachment}}</span>
 