{{#Outcome}}
      <div id="name">
        <div class="outcome description">{{outcome_description}}</div>
        <div class="rationale">{{rationale}}</div>
        <div class="assessments">{{assessments}}</div>
        <div class="last evaluation">{{last_evaluation}}</div>
        <div class="next evaluation">{{evaluation_next}}</div>
        <div class="evaluation duration">{{evaluation_duration}}</div>
        <div class="rationalized course">{{empty}}</div>
        <div class="index">{{index}}</div>
      </div>
{{/Outcome}}}
