<h2>{{name}}</h2>
<p class="label">Outcome description:</p>
<span>{{outcome_description}}</span>
<p class="label">Rationale:</p>
<span>{{rationale}}</span>
<p class="label">Assessments:</p>
<span>{{assessments}}</span>
<p class="label">Last evaluation:</p>
<span>{{last_evaluation}}</span>
<p class="label">Next evaluation:</p>
<span>{{evaluation_next}}</span>
<p class="label">Evaluation duration:</p>
<span>{{evaluation_duration}}</span>
<p class="label">Rationalized course:</p>
<span>{{empty}}</span>
<p class="label">Index:</p>
<span>{{index}}</span>

