<h2>{{name}}</h2>
<p class="label">Start date:</p>
<span>{{start_date}}</span>
<p class="label">End date:</p>
<span>{{end_date}}</span>
<p class="label">Mission</p>
<span>{{mission}}</span>
<p class="label">Description:</p>
<span>{{description}}</span>
<p class="label">Web page:</p>
<span>{{web_page}}</span>
<p class="label">Thumbnail:</p>
<span>{{thumbnail}}</span>
<p class="label">Docs:</p>
<span>{{docs}}</span>



