{{#user}}
      <div id="name">
        <div class="start date">{{start_date}}</div>
        <div class="end date">{{end_date}}</div>
        <div class="mission">{{mission}}</div>
        <div class="description">{{description}}</div>
        <div class="webpage">{{web_page}}</div>
        <div class="thumbnail">{{thumbnail}}</div>
        <div class="docs">{{docs}}</div>
      </div>
{{/user}}}
