<h2>{{name}}</h2>
<p class="label">Begin date:</p>
<span>{{begin_date}}</span>
<p class="label">End date:</p>
<span>{{end_date}}</span>
<p class="label">Fulfilled:</p>
<span>{{fulfilled}}</span>
<p class="label">Attachment names:</p>
<span>{{attachment_names}}</span>
<p class="label">Attachment ID:</p>
<span>{{attachment_blob_ids}}</span>
<p class="label">Response:</p>
<span>{{response}}</span>