{{#task}}
      <div id="name">
        <div class="begin date">{{begin_date}}</div>
        <div class="end date">{{end_date}}</div>
        <div class="fulfilled">{{fulfilled}}</div>
        <div class="attachment names">{{attachment_names}}</div>
        <div class="attachment ID">{{attachment_blob_ids}}</div>
        <div class="response">{{response}}</div>
      </div>
{{/task}}}
