<!--
<div class="header">
  <h1>Edit Task</h1>
</div>
-->

{{#task}}
<div class="task">
  <form><ul>
    <li>
      <label for="name">Name</label>
      {{#if ../edit}}
        <input type="text" id="name" name="name" value="{{name}}" />
      {{else}}
        <div>{{name}}</div>
      {{/if}}
    </li>
    <li>
      <label for="description">Description</label>
      {{#if ../edit}}
        <textarea id="description" name="description">{{description}}</textarea>
      {{else}}
        <div>{{description}}</div>
      {{/if}}
    </li>
    <li>
      <label for="begin_date">Begin date</label>
      {{#if ../edit}}
        <input type="text" id="begin_date" name="begin_date" value="{{begin_date}}" />
      {{else}}
        <div>{{begin_date}}</div>
      {{/if}}
    </li>
    <li>
      <label for="end_date">End date</label>
      {{#if ../edit}}
        <input type="text" id="end_date" name="end_date" vaule="{{end_date}}" />
      {{else}}
        <div>{{end_date}}</div>
      {{/if}}
    </li>
    <!--
    <li>
      <label for="owner">Owner</label>
      {{#if ../edit}}
        <input type="text" id="owner" name="owner" />
      {{else}}
        <div>{{owner}}
      {{/if}}
    </li>
    -->
    <li>
      <label for="program">Program</label>
      {{#if ../edit}}
      <select id="program-chooser-select">
        <option value="agxkZXZ-emFiZXRhLTJyEwsSDU1vcmFQb2x5TW9kZWwYAww">CS</option>

        <option value="agxkZXZ-emFiZXRhLTJyEwsSDU1vcmFQb2x5TW9kZWwYBAw">EE</option>

        <option value="agxkZXZ-emFiZXRhLTJyEwsSDU1vcmFQb2x5TW9kZWwYBQw">ME</option>
      </select>
      <!--  <input type="text" id="program" name="program" /> -->
      {{else}}
        <div>program-placeholder</div>
      {{/if}}
    </li>
    <li>
      <label for="response">Response</label>
      {{#if ../edit}}
        <a onclick="editResponse('{{id}}', 'edit_response')">Edit response...</a>
      {{else}}
        <div>{{response}}</div>
      {{/if}}
    </li>
    <!--
    <li>
      <label for="rubric">Rubric</label>
      {{#if ../edit}}
        <input type="text" id="rubric" name="rubric" />
      {{else}}
        <div>{{rubric}}</div>
      {{/if}}
    </li>
    -->
  </ul></form>
</div>
{{/task}}

<div class="actions">
  <button class="cancel" name="cancel">Cancel</button>
  {{#unless view}}<button class="update" name="update">Update</button>{{/unless}}
</div>
