{{#university}}
      <div id="university">
        <div class="domain">{{domain}}</div>
        <div class="semesters">{{semesters}}</div>
        <div class="login path">{{login_path}}</div>
        <div class="programs">{{programs}}</div>
        <div class="thumbnail">{{thumbnail}}</div>
        <div class="webpage">{{web_page}}</div>
      </div>
{{/university}}}
