<h2>{{name}}</h2>

<p class="label">Domain:</p>
<span>{{domain}}</span>
<p class="label">Semesters:</p>
<span>{{semesters}}</span>
<p class="label">Login path:</p>
<span>{{login_path}}</span>
<p class="label">Programs:</p>
<span>{{programs}}</span>
<p class="label">Thumbnail:</p>
<span>{{thumbnail}}</span>
<p class="label">Web page:</p>
<span>{{web_page}}</span>

