<h2>Users</h2>
<table class="list">
  <thead>
    <tr>
      <th>
        Name
      </th>
      <th>
        Email
      </th>
      <th>
        Office Phone #
      </th>
      <th>
        Personal Phone #
      </th>
      <th>
        Office
      </th>
      <th>
        User ID
      </th>
      <th>
      	Edit
      </th>
    </tr>
  </thead>
  <tbody>
    {{#User}}
    <tr>
      <td style="cursor:pointer">{{full_name}}</td>
      <td>{{email}}</td>
      <td>{{phone_office}}</td>
      <td>{{phone_personal}}</td>
      <td>{{office}}</td>
      <td>{{employee_id}}</td>
      <td><a onclick="edit('{{id}}')" style="cursor:pointer">Edit</a>
    </tr>
    {{/User}}
  </tbody>
</table>
<a onclick="addNew('user')" style="cursor:pointer">Add</a>